.dashboard-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
}

/* Cards em linha */
.cards-row {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap; /* NUNCA quebra linha */
}

/* Base do card!!*/
.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 18px; 
  display: flex;
  align-items: center;
  gap: 15px; 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  min-height: 80px;
  flex: 1 1 0; /* Divide o espaço igualmente entre os 3 cards */
  min-width: 0; /* Permite que encolha além do conteúdo */
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

/* Bolinhas dos cards */
/* Centraliza os ícones dentro dos círculos */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem; /* tamanho do ícone */
  color: #1a1a1a; /* cor do ícone */
}


.circle-blue {
  background-color: #cfe2ff; 
}

.circle-orange {
  background-color: #ffe5b4; 
}

.circle-green {
  background-color: #f2b6b2; 
}

/* Texto de dentro do card */
.card-text h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #1a1a1a;
  line-height: 1.2;
}

.card-text p {
  font-size: 0.85rem;
  color: #555;
  line-height: 1.3;
  max-width: 151px;
}